In [1]:
import os
import copy
import numpy as np
import pandas as pd
from scipy import stats

import seaborn as sns
import matplotlib.pyplot as plt
import koreanize_matplotlib
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

# 데이터 확인

In [2]:
numeric = pd.read_csv('./data/train_numeric.csv')
numeric.shape

(10000, 970)

In [3]:
categorical = pd.read_csv('./data/train_categorical.csv')
categorical.shape

(10000, 2141)

In [4]:
numeric.head()

,Id,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,...,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262,Response
0,4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [5]:
categorical.head()

,Id,L0_S1_F25,L0_S1_F27,L0_S1_F29,L0_S1_F31,L0_S2_F33,L0_S2_F35,L0_S2_F37,L0_S2_F39,L0_S2_F41,...,L3_S49_F4225,L3_S49_F4227,L3_S49_F4229,L3_S49_F4230,L3_S49_F4232,L3_S49_F4234,L3_S49_F4235,L3_S49_F4237,L3_S49_F4239,L3_S49_F4240
0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- numeric/categorical data로 구분
- 데이터샘플은 적고 특징(컬럼)이 굉장히 많은 데이터로써 특징 추출이 매우 중요한 문제
- 결측치가 매우 많다.
- 비식별화된 특징이 매우 많다
- 불량 예측문제 답게 클래스 불균형 문제가 심각

- ID별 - L(제조 라인)_S(제조 스테이션)_F(기능 번호)

# 데이터 EDA & 전처리

## 수치형 데이터

In [6]:
df = numeric.copy()

In [7]:
df.set_index('Id', inplace=True)

X = df.drop('Response', axis=1)
Y = df['Response']

### 라인별 스테이션고 특징 확인

- 4개의 라인이 존재 : L0 ~ L3

In [8]:
X.head()

,L0_S0_F0,L0_S0_F2,L0_S0_F4,L0_S0_F6,L0_S0_F8,L0_S0_F10,L0_S0_F12,L0_S0_F14,L0_S0_F16,L0_S0_F18,...,L3_S50_F4243,L3_S50_F4245,L3_S50_F4247,L3_S50_F4249,L3_S50_F4251,L3_S50_F4253,L3_S51_F4256,L3_S51_F4258,L3_S51_F4260,L3_S51_F4262
Id,,,,,,,,,,,,,,,,,,,,,
4,0.030,-0.034,-0.197,-0.179,0.118,0.116,-0.015,-0.032,0.020,0.083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,0.088,0.086,0.003,-0.052,0.161,0.025,-0.015,-0.072,-0.225,-0.147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,-0.036,-0.064,0.294,0.330,0.074,0.161,0.022,0.128,-0.026,-0.046,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,-0.055,-0.086,0.294,0.330,0.118,0.025,0.030,0.168,-0.169,-0.099,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
line_station_feature_dict = dict()

line_station_feature_dict['L0'] = {'station':[], 'feature':[]}
line_station_feature_dict['L1'] = {'station':[], 'feature':[]}
line_station_feature_dict['L2'] = {'station':[], 'feature':[]}
line_station_feature_dict['L3'] = {'station':[], 'feature':[]}

In [10]:
X.columns

Index(['L0_S0_F0', 'L0_S0_F2', 'L0_S0_F4', 'L0_S0_F6', 'L0_S0_F8', 'L0_S0_F10',
       'L0_S0_F12', 'L0_S0_F14', 'L0_S0_F16', 'L0_S0_F18',
       ...
       'L3_S50_F4243', 'L3_S50_F4245', 'L3_S50_F4247', 'L3_S50_F4249',
       'L3_S50_F4251', 'L3_S50_F4253', 'L3_S51_F4256', 'L3_S51_F4258',
       'L3_S51_F4260', 'L3_S51_F4262'],
      dtype='object', length=968)

In [11]:
for col in X.columns:
    line, station, feature = col.split('_')

    if station not in line_station_feature_dict[line]['station']:
        line_station_feature_dict[line]['station'].append(station)
    
    if feature not in line_station_feature_dict[line]['feature']:
        line_station_feature_dict[line]['feature'].append(feature)

In [13]:
for line in line_station_feature_dict.keys():
    print(line_station_feature_dict[line]['station'])

['S0', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21', 'S22', 'S23']
['S24', 'S25']
['S26', 'S27', 'S28']
['S29', 'S30', 'S31', 'S32', 'S33', 'S34', 'S35', 'S36', 'S37', 'S38', 'S39', 'S40', 'S41', 'S43', 'S44', 'S45', 'S47', 'S48', 'S49', 'S50', 'S51']

In [14]:
for line in line_station_feature_dict.keys():
    print(line_station_feature_dict[line]['feature'])

['F0', 'F2', 'F4', 'F6', 'F8', 'F10', 'F12', 'F14', 'F16', 'F18', 'F20', 'F22', 'F24', 'F28', 'F32', 'F36', 'F40', 'F44', 'F48', 'F52', 'F56', 'F60', 'F64', 'F68', 'F72', 'F76', 'F80', 'F84', 'F88', 'F92', 'F96', 'F100', 'F104', 'F109', 'F114', 'F116', 'F118', 'F122', 'F132', 'F136', 'F138', 'F142', 'F144', 'F146', 'F149', 'F155', 'F160', 'F165', 'F170', 'F175', 'F180', 'F185', 'F190', 'F195', 'F200', 'F205', 'F210', 'F219', 'F224', 'F229', 'F234', 'F239', 'F244', 'F249', 'F254', 'F259', 'F264', 'F269', 'F274', 'F282', 'F286', 'F290', 'F294', 'F298', 'F302', 'F306', 'F310', 'F314', 'F318', 'F322', 'F326', 'F330', 'F332', 'F334', 'F336', 'F338', 'F340', 'F342', 'F344', 'F346', 'F348', 'F350', 'F352', 'F354', 'F356', 'F358', 'F362', 'F366', 'F370', 'F374', 'F378', 'F382', 'F386', 'F390', 'F394', 'F397', 'F400', 'F403', 'F406', 'F409', 'F412', 'F415', 'F418', 'F421', 'F426', 'F431', 'F433', 'F435', 'F439', 'F449', 'F453', 'F455', 'F459', 'F461', 'F463', 'F466', 'F472', 'F477', 'F482', 'F487', 'F492', 'F497', 'F502', 'F507', 'F512', 'F517', 'F522', 'F527', 'F532', 'F537', 'F546', 'F551', 'F556', 'F561', 'F566', 'F571', 'F576', 'F581', 'F586', 'F591', 'F596', 'F601', 'F606', 'F611', 'F619', 'F623', 'F627', 'F631', 'F635', 'F639', 'F643', 'F647', 'F651', 'F655', 'F659', 'F663', 'F667', 'F671']
['F679', 'F683', 'F687', 'F691', 'F700', 'F719', 'F728', 'F733', 'F746', 'F751', 'F756', 'F761', 'F766', 'F775', 'F780', 'F785', 'F790', 'F795', 'F800', 'F802', 'F806', 'F808', 'F810', 'F812', 'F814', 'F816', 'F829', 'F834', 'F839', 'F844', 'F857', 'F862', 'F867', 'F872', 'F877', 'F882', 'F887', 'F892', 'F897', 'F902', 'F907', 'F920', 'F925', 'F930', 'F935', 'F948', 'F953', 'F958', 'F963', 'F968', 'F973', 'F978', 'F983', 'F988', 'F993', 'F998', 'F1000', 'F1002', 'F1004', 'F1006', 'F1008', 'F1010', 'F1012', 'F1014', 'F1016', 'F1021', 'F1026', 'F1031', 'F1036', 'F1041', 'F1046', 'F1051', 'F1056', 'F1068', 'F1072', 'F1079', 'F1083', 'F1087', 'F1094', 'F1098', 'F1102', 'F1106', 'F1110', 'F1118', 'F1122', 'F1126', 'F1130', 'F1134', 'F1145', 'F1148', 'F1161', 'F1166', 'F1170', 'F1172', 'F1174', 'F1176', 'F1180', 'F1184', 'F1197', 'F1202', 'F1207', 'F1212', 'F1225', 'F1230', 'F1235', 'F1240', 'F1245', 'F1250', 'F1255', 'F1260', 'F1265', 'F1270', 'F1275', 'F1288', 'F1293', 'F1298', 'F1303', 'F1316', 'F1321', 'F1326', 'F1331', 'F1336', 'F1341', 'F1346', 'F1351', 'F1356', 'F1361', 'F1366', 'F1371', 'F1376', 'F1381', 'F1386', 'F1391', 'F1396', 'F1401', 'F1406', 'F1411', 'F1416', 'F1421', 'F1426', 'F1431', 'F1436', 'F1441', 'F1446', 'F1451', 'F1463', 'F1467', 'F1474', 'F1478', 'F1482', 'F1486', 'F1490', 'F1494', 'F1498', 'F1502', 'F1506', 'F1512', 'F1514', 'F1516', 'F1518', 'F1520', 'F1539', 'F1544', 'F1565', 'F1567', 'F1569', 'F1571', 'F1573', 'F1575', 'F1578', 'F1581', 'F1594', 'F1599', 'F1604', 'F1609', 'F1622', 'F1627', 'F1632', 'F1637', 'F1642', 'F1647', 'F1652', 'F1657', 'F1662', 'F1667', 'F1672', 'F1685', 'F1690', 'F1695', 'F1700', 'F1713', 'F1718', 'F1723', 'F1728', 'F1733', 'F1738', 'F1743', 'F1748', 'F1753', 'F1758', 'F1763', 'F1768', 'F1773', 'F1778', 'F1783', 'F1788', 'F1793', 'F1798', 'F1803', 'F1808', 'F1810', 'F1812', 'F1814', 'F1816', 'F1818', 'F1820', 'F1822', 'F1824', 'F1829', 'F1831', 'F1834', 'F1836', 'F1838', 'F1840', 'F1842', 'F1844', 'F1846', 'F1848', 'F1850', 'F1855', 'F1858', 'F1865', 'F1869', 'F1873', 'F1877', 'F1881', 'F1885', 'F1890', 'F1892', 'F1894', 'F1896', 'F1900', 'F1909', 'F1914', 'F1919', 'F1924', 'F1929', 'F1938', 'F1943', 'F1948', 'F1953', 'F1958', 'F1963', 'F1968', 'F1973', 'F1978', 'F1987', 'F1992', 'F1997', 'F2002', 'F2007', 'F2016', 'F2021', 'F2026', 'F2031', 'F2036', 'F2041', 'F2046', 'F2051', 'F2056', 'F2061', 'F2066', 'F2071', 'F2076', 'F2081', 'F2086', 'F2091', 'F2096', 'F2101', 'F2106', 'F2111', 'F2116', 'F2121', 'F2126', 'F2131', 'F2136', 'F2144', 'F2147', 'F2152', 'F2155', 'F2158', 'F2161', 'F2164', 'F2167', 'F2170', 'F2173', 'F2176', 'F2181', 'F2184', 'F2187', 'F2190', 'F2193', 'F2196', 'F2199', 'F2202', 'F2207', 'F2210', 'F2217', 'F2220', 'F2223', 'F2226', 'F2231', 'F2233', 'F2237', 'F2239', 'F2241', 'F2243', 'F2245', 'F2247', 'F2249', 'F2258', 'F2263', 'F2268', 'F2273', 'F2278', 'F2287', 'F2292', 'F2297', 'F2302', 'F2307', 'F2312', 'F2317', 'F2322', 'F2327', 'F2336', 'F2341', 'F2346', 'F2351', 'F2356', 'F2365', 'F2370', 'F2375', 'F2380', 'F2385', 'F2390', 'F2395', 'F2400', 'F2405', 'F2408', 'F2411', 'F2414', 'F2417', 'F2420', 'F2423', 'F2426', 'F2429', 'F2431', 'F2433', 'F2435', 'F2437', 'F2439', 'F2441', 'F2443', 'F2449', 'F2451', 'F2454', 'F2456', 'F2458', 'F2460', 'F2462', 'F2464', 'F2466', 'F2468', 'F2472', 'F2475', 'F2478', 'F2481', 'F2484', 'F2487', 'F2490', 'F2493', 'F2498', 'F2500', 'F2504', 'F2506', 'F2508', 'F2510', 'F2512', 'F2514', 'F2516', 'F2525', 'F2530', 'F2535', 'F2540', 'F2545', 'F2554', 'F2559', 'F2564', 'F2569', 'F2574', 'F2579', 'F2584', 'F2589', 'F2594', 'F2603', 'F2608', 'F2613', 'F2618', 'F2623', 'F2632', 'F2637', 'F2642', 'F2647', 'F2652', 'F2657', 'F2662', 'F2667', 'F2672', 'F2677', 'F2682', 'F2687', 'F2692', 'F2697', 'F2702', 'F2707', 'F2712', 'F2714', 'F2716', 'F2718', 'F2720', 'F2722', 'F2724', 'F2726', 'F2732', 'F2734', 'F2737', 'F2739', 'F2741', 'F2743', 'F2745', 'F2747', 'F2749', 'F2751', 'F2755', 'F2758', 'F2761', 'F2764', 'F2767', 'F2770', 'F2773', 'F2776', 'F2781', 'F2783', 'F2787', 'F2789', 'F2791', 'F2793', 'F2795', 'F2797', 'F2799', 'F2808', 'F2813', 'F2818', 'F2823', 'F2828', 'F2837', 'F2842', 'F2847', 'F2852', 'F2857', 'F2862', 'F2867', 'F2872', 'F2877', 'F2886', 'F2891', 'F2896', 'F2901', 'F2906', 'F2915', 'F2920', 'F2925', 'F2930', 'F2935', 'F2940', 'F2945', 'F2950', 'F2955', 'F2960', 'F2965', 'F2970', 'F2975', 'F2980', 'F2985', 'F2990', 'F2995', 'F2997', 'F2999', 'F3001', 'F3003', 'F3005', 'F3007', 'F3009', 'F3015', 'F3017', 'F3020', 'F3022', 'F3024', 'F3026', 'F3028', 'F3030', 'F3032', 'F3034']
['F3036', 'F3040', 'F3047', 'F3051', 'F3055', 'F3062', 'F3069', 'F3073', 'F3077', 'F3106', 'F3113', 'F3117', 'F3121', 'F3125', 'F3129', 'F3133', 'F3140', 'F3144', 'F3148', 'F3155', 'F3162', 'F3166', 'F3170', 'F3199', 'F3206', 'F3210', 'F3214', 'F3218', 'F3222', 'F3226', 'F3233', 'F3237', 'F3241', 'F3248', 'F3255', 'F3259', 'F3263', 'F3292', 'F3299', 'F3303', 'F3307', 'F3311']
['F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3564', 'F3569', 'F3574', 'F3579', 'F3584', 'F3589', 'F3594', 'F3599', 'F3604', 'F3609', 'F3614', 'F3619', 'F3624', 'F3629', 'F3634', 'F3639', 'F3644', 'F3649', 'F3654', 'F3659', 'F3664', 'F3669', 'F3674', 'F3679', 'F3684', 'F3689', 'F3694', 'F3699', 'F3704', 'F3709', 'F3714', 'F3719', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3834', 'F3838', 'F3842', 'F3846', 'F3850', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3884', 'F3889', 'F3894', 'F3896', 'F3898', 'F3903', 'F3908', 'F3913', 'F3918', 'F3920', 'F3922', 'F3924', 'F3926', 'F3930', 'F3934', 'F3938', 'F3944', 'F3946', 'F3948', 'F3950', 'F3952', 'F3956', 'F3960', 'F3964', 'F3968', 'F3972', 'F3976', 'F3980', 'F3982', 'F3984', 'F3986', 'F3988', 'F3990', 'F3992', 'F3994', 'F3996', 'F3998', 'F4000', 'F4002', 'F4004', 'F4006', 'F4008', 'F4011', 'F4014', 'F4016', 'F4018', 'F4020', 'F4023', 'F4026', 'F4060', 'F4065', 'F4070', 'F4075', 'F4080', 'F4085', 'F4090', 'F4095', 'F4100', 'F4103', 'F4106', 'F4109', 'F4112', 'F4115', 'F4118', 'F4121', 'F4124', 'F4126', 'F4128', 'F4130', 'F4132', 'F4138', 'F4143', 'F4148', 'F4153', 'F4158', 'F4163', 'F4168', 'F4173', 'F4178', 'F4183', 'F4188', 'F4193', 'F4196', 'F4198', 'F4200', 'F4202', 'F4204', 'F4206', 'F4211', 'F4216', 'F4221', 'F4226', 'F4231', 'F4236', 'F4241', 'F4243', 'F4245', 'F4247', 'F4249', 'F4251', 'F4253', 'F4256', 'F4258', 'F4260', 'F4262']

- 제품별 결측이 아닌 라인 추출

In [17]:
X.iloc[0].notnull()

L0_S0_F0         True
L0_S0_F2         True
L0_S0_F4         True
L0_S0_F6         True
L0_S0_F8         True
                ...
L3_S50_F4253    False
L3_S51_F4256    False
L3_S51_F4258    False
L3_S51_F4260    False
L3_S51_F4262    False
Name: 4, Length: 968, dtype: bool

In [18]:
not_null_columns = X.columns[X.iloc[0].notnull()]

In [19]:
pd.Series(not_null_columns)

0          L0_S0_F0
1          L0_S0_F2
2          L0_S0_F4
3          L0_S0_F6
4          L0_S0_F8
           ...
157    L3_S35_F3913
158    L3_S37_F3944
159    L3_S37_F3946
160    L3_S37_F3948
161    L3_S37_F3950
Length: 162, dtype: object

In [20]:
pd.Series(not_null_columns).str.split('_', expand=True)

      0    1      2
0    L0   S0     F0
1    L0   S0     F2
2    L0   S0     F4
3    L0   S0     F6
4    L0   S0     F8
..   ..  ...    ...
157  L3  S35  F3913
158  L3  S37  F3944
159  L3  S37  F3946
160  L3  S37  F3948
161  L3  S37  F3950

[162 rows x 3 columns]

In [23]:
num_iter = 0

for idx, row in X.iterrows():
    if sum(row.notnull()) > 0:
        not_null_columns = X.columns[row.notnull()]
        lines = pd.Series(not_null_columns).str.split('_', expand=True).iloc[:, 0].drop_duplicates().to_list()
        stations = pd.Series(not_null_columns).str.split('_', expand=True).iloc[:, 1].drop_duplicates().to_list()
        features = pd.Series(not_null_columns).str.split('_', expand=True).iloc[:, 2].drop_duplicates().to_list()

        print(idx, lines, stations, features)

        if num_iter > 10:
            break
    num_iter += 1

4 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S4', 'S7', 'S8', 'S11', 'S29', 'S30', 'S31', 'S33', 'S34', 'S35', 'S37'] ['F0', 'F2', 'F4', 'F6', 'F8', 'F10', 'F12', 'F14', 'F16', 'F18', 'F20', 'F22', 'F24', 'F28', 'F32', 'F36', 'F40', 'F44', 'F48', 'F52', 'F56', 'F60', 'F64', 'F104', 'F109', 'F136', 'F138', 'F142', 'F144', 'F146', 'F149', 'F282', 'F286', 'F290', 'F294', 'F298', 'F302', 'F306', 'F310', 'F314', 'F318', 'F322', 'F326', 'F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3834', 'F3838', 'F3842', 'F3846', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3884', 'F3889', 'F3894', 'F3896', 'F3898', 'F3903', 'F3908', 'F3913', 'F3944', 'F3946', 'F3948', 'F3950']
6 ['L0', 'L3'] ['S12', 'S13', 'S14', 'S16', 'S18', 'S20', 'S21', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37'] ['F330', 'F332', 'F334', 'F336', 'F338', 'F340', 'F342', 'F344', 'F346', 'F348', 'F350', 'F352', 'F354', 'F356', 'F358', 'F362', 'F366', 'F370', 'F374', 'F378', 'F382', 'F386', 'F390', 'F421', 'F426', 'F435', 'F439', 'F449', 'F461', 'F463', 'F466', 'F472', 'F477', 'F482', 'F487', 'F492', 'F497', 'F502', 'F507', 'F512', 'F517', 'F522', 'F527', 'F532', 'F537', 'F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3564', 'F3569', 'F3574', 'F3579', 'F3584', 'F3589', 'F3594', 'F3599', 'F3604', 'F3609', 'F3614', 'F3619', 'F3624', 'F3629', 'F3634', 'F3639', 'F3644', 'F3649', 'F3654', 'F3659', 'F3664', 'F3669', 'F3674', 'F3679', 'F3684', 'F3689', 'F3694', 'F3699', 'F3704', 'F3709', 'F3714', 'F3719', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3884', 'F3889', 'F3894', 'F3896', 'F3898', 'F3903', 'F3908', 'F3913', 'F3944', 'F3946', 'F3948', 'F3950']
7 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S5', 'S6', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37'] ['F0', 'F2', 'F4', 'F6', 'F8', 'F10', 'F12', 'F14', 'F16', 'F18', 'F20', 'F22', 'F24', 'F28', 'F32', 'F36', 'F40', 'F44', 'F48', 'F52', 'F56', 'F60', 'F64', 'F114', 'F116', 'F118', 'F122', 'F132', 'F144', 'F146', 'F149', 'F219', 'F224', 'F229', 'F234', 'F239', 'F244', 'F249', 'F254', 'F259', 'F264', 'F269', 'F274', 'F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3564', 'F3569', 'F3574', 'F3579', 'F3584', 'F3589', 'F3594', 'F3599', 'F3604', 'F3609', 'F3614', 'F3619', 'F3624', 'F3629', 'F3634', 'F3639', 'F3644', 'F3649', 'F3654', 'F3659', 'F3664', 'F3669', 'F3674', 'F3679', 'F3684', 'F3689', 'F3694', 'F3699', 'F3704', 'F3709', 'F3714', 'F3719', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3884', 'F3889', 'F3894', 'F3896', 'F3898', 'F3903', 'F3908', 'F3913', 'F3944', 'F3946', 'F3948', 'F3950']
9 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S4', 'S7', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37'] ['F0', 'F2', 'F4', 'F6', 'F8', 'F10', 'F12', 'F14', 'F16', 'F18', 'F20', 'F22', 'F24', 'F28', 'F32', 'F36', 'F40', 'F44', 'F48', 'F52', 'F56', 'F60', 'F64', 'F104', 'F109', 'F136', 'F138', 'F142', 'F144', 'F146', 'F149', 'F219', 'F224', 'F229', 'F234', 'F239', 'F244', 'F249', 'F254', 'F259', 'F264', 'F269', 'F274', 'F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3564', 'F3569', 'F3574', 'F3579', 'F3584', 'F3589', 'F3594', 'F3599', 'F3604', 'F3609', 'F3614', 'F3619', 'F3624', 'F3629', 'F3634', 'F3639', 'F3644', 'F3649', 'F3654', 'F3659', 'F3664', 'F3669', 'F3674', 'F3679', 'F3684', 'F3689', 'F3694', 'F3699', 'F3704', 'F3709', 'F3714', 'F3719', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3918', 'F3920', 'F3922', 'F3924', 'F3926', 'F3930', 'F3934', 'F3938', 'F3944', 'F3946', 'F3948', 'F3950']
11 ['L0', 'L3'] ['S0', 'S1', 'S3', 'S4', 'S7', 'S8', 'S11', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37'] ['F0', 'F2', 'F4', 'F6', 'F8', 'F10', 'F12', 'F14', 'F16', 'F18', 'F20', 'F22', 'F24', 'F28', 'F68', 'F72', 'F76', 'F80', 'F84', 'F88', 'F92', 'F96', 'F100', 'F104', 'F109', 'F136', 'F138', 'F142', 'F144', 'F146', 'F149', 'F282', 'F286', 'F290', 'F294', 'F298', 'F302', 'F306', 'F310', 'F314', 'F318', 'F322', 'F326', 'F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3564', 'F3569', 'F3574', 'F3579', 'F3584', 'F3589', 'F3594', 'F3599', 'F3604', 'F3609', 'F3614', 'F3619', 'F3624', 'F3629', 'F3634', 'F3639', 'F3644', 'F3649', 'F3654', 'F3659', 'F3664', 'F3669', 'F3674', 'F3679', 'F3684', 'F3689', 'F3694', 'F3699', 'F3704', 'F3709', 'F3714', 'F3719', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3918', 'F3920', 'F3922', 'F3924', 'F3926', 'F3930', 'F3934', 'F3938', 'F3944', 'F3946', 'F3948', 'F3950']
13 ['L0', 'L3'] ['S0', 'S1', 'S3', 'S4', 'S7', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37'] ['F0', 'F2', 'F4', 'F6', 'F8', 'F10', 'F12', 'F14', 'F16', 'F18', 'F20', 'F22', 'F24', 'F28', 'F68', 'F72', 'F76', 'F80', 'F84', 'F88', 'F92', 'F96', 'F100', 'F104', 'F109', 'F136', 'F138', 'F142', 'F144', 'F146', 'F149', 'F219', 'F224', 'F229', 'F234', 'F239', 'F244', 'F249', 'F254', 'F259', 'F264', 'F269', 'F274', 'F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3564', 'F3569', 'F3574', 'F3579', 'F3584', 'F3589', 'F3594', 'F3599', 'F3604', 'F3609', 'F3614', 'F3619', 'F3624', 'F3629', 'F3634', 'F3639', 'F3644', 'F3649', 'F3654', 'F3659', 'F3664', 'F3669', 'F3674', 'F3679', 'F3684', 'F3689', 'F3694', 'F3699', 'F3704', 'F3709', 'F3714', 'F3719', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3918', 'F3920', 'F3922', 'F3924', 'F3926', 'F3930', 'F3934', 'F3938', 'F3944', 'F3946', 'F3948', 'F3950']
14 ['L0', 'L3'] ['S12', 'S13', 'S15', 'S17', 'S19', 'S20', 'S22', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37'] ['F330', 'F332', 'F334', 'F336', 'F338', 'F340', 'F342', 'F344', 'F346', 'F348', 'F350', 'F352', 'F354', 'F356', 'F394', 'F397', 'F400', 'F403', 'F406', 'F409', 'F412', 'F415', 'F418', 'F431', 'F433', 'F453', 'F455', 'F459', 'F461', 'F463', 'F466', 'F546', 'F551', 'F556', 'F561', 'F566', 'F571', 'F576', 'F581', 'F586', 'F591', 'F596', 'F601', 'F606', 'F611', 'F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3564', 'F3569', 'F3574', 'F3579', 'F3584', 'F3589', 'F3594', 'F3599', 'F3604', 'F3609', 'F3614', 'F3619', 'F3624', 'F3629', 'F3634', 'F3639', 'F3644', 'F3649', 'F3654', 'F3659', 'F3664', 'F3669', 'F3674', 'F3679', 'F3684', 'F3689', 'F3694', 'F3699', 'F3704', 'F3709', 'F3714', 'F3719', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3884', 'F3889', 'F3894', 'F3896', 'F3898', 'F3903', 'F3908', 'F3913', 'F3944', 'F3946', 'F3948', 'F3950']
16 ['L1', 'L2', 'L3'] ['S24', 'S26', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37'] ['F1512', 'F1514', 'F1516', 'F1518', 'F1520', 'F1539', 'F1544', 'F1565', 'F1567', 'F1569', 'F1571', 'F1573', 'F1575', 'F1578', 'F1672', 'F1685', 'F1690', 'F1695', 'F1700', 'F1713', 'F1718', 'F1723', 'F1728', 'F1733', 'F1738', 'F1743', 'F1748', 'F1753', 'F1758', 'F1808', 'F1810', 'F1812', 'F1814', 'F1816', 'F1818', 'F1820', 'F1822', 'F1824', 'F1829', 'F1831', 'F1834', 'F1836', 'F1838', 'F1840', 'F1842', 'F1844', 'F1846', 'F1848', 'F1850', 'F3036', 'F3040', 'F3047', 'F3051', 'F3055', 'F3062', 'F3069', 'F3073', 'F3077', 'F3106', 'F3113', 'F3117', 'F3121', 'F3125', 'F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3564', 'F3569', 'F3574', 'F3579', 'F3584', 'F3589', 'F3594', 'F3599', 'F3604', 'F3609', 'F3614', 'F3619', 'F3624', 'F3629', 'F3634', 'F3639', 'F3644', 'F3649', 'F3654', 'F3659', 'F3664', 'F3669', 'F3674', 'F3679', 'F3684', 'F3689', 'F3694', 'F3699', 'F3704', 'F3709', 'F3714', 'F3719', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3884', 'F3889', 'F3894', 'F3896', 'F3898', 'F3903', 'F3908', 'F3913', 'F3944', 'F3946', 'F3948', 'F3950']
18 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S4', 'S7', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37'] ['F0', 'F2', 'F4', 'F6', 'F8', 'F10', 'F12', 'F14', 'F16', 'F18', 'F20', 'F22', 'F24', 'F28', 'F32', 'F36', 'F40', 'F44', 'F48', 'F52', 'F56', 'F60', 'F64', 'F104', 'F109', 'F136', 'F138', 'F142', 'F144', 'F146', 'F149', 'F219', 'F224', 'F229', 'F234', 'F239', 'F244', 'F249', 'F254', 'F259', 'F264', 'F269', 'F274', 'F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3918', 'F3920', 'F3922', 'F3924', 'F3926', 'F3930', 'F3934', 'F3938', 'F3944', 'F3946', 'F3948', 'F3950']
23 ['L0', 'L3'] ['S12', 'S13', 'S14', 'S17', 'S18', 'S20', 'S21', 'S29', 'S30', 'S33', 'S34', 'S35', 'S37'] ['F330', 'F332', 'F334', 'F336', 'F338', 'F340', 'F342', 'F344', 'F346', 'F348', 'F350', 'F352', 'F354', 'F356', 'F358', 'F362', 'F366', 'F370', 'F374', 'F378', 'F382', 'F386', 'F390', 'F431', 'F433', 'F435', 'F439', 'F449', 'F461', 'F463', 'F466', 'F472', 'F477', 'F482', 'F487', 'F492', 'F497', 'F502', 'F507', 'F512', 'F517', 'F522', 'F527', 'F532', 'F537', 'F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3884', 'F3889', 'F3894', 'F3896', 'F3898', 'F3903', 'F3908', 'F3913', 'F3944', 'F3946', 'F3948', 'F3950']
26 ['L0', 'L3'] ['S0', 'S1', 'S2', 'S4', 'S7', 'S8', 'S10', 'S29', 'S30', 'S33', 'S34', 'S36', 'S37'] ['F0', 'F2', 'F4', 'F6', 'F8', 'F10', 'F12', 'F14', 'F16', 'F18', 'F20', 'F22', 'F24', 'F28', 'F32', 'F36', 'F40', 'F44', 'F48', 'F52', 'F56', 'F60', 'F64', 'F104', 'F109', 'F136', 'F138', 'F142', 'F144', 'F146', 'F149', 'F219', 'F224', 'F229', 'F234', 'F239', 'F244', 'F249', 'F254', 'F259', 'F264', 'F269', 'F274', 'F3315', 'F3318', 'F3321', 'F3324', 'F3327', 'F3330', 'F3333', 'F3336', 'F3339', 'F3342', 'F3345', 'F3348', 'F3351', 'F3354', 'F3357', 'F3360', 'F3367', 'F3370', 'F3373', 'F3376', 'F3379', 'F3382', 'F3385', 'F3388', 'F3395', 'F3398', 'F3401', 'F3404', 'F3407', 'F3412', 'F3421', 'F3424', 'F3427', 'F3430', 'F3433', 'F3436', 'F3439', 'F3442', 'F3449', 'F3452', 'F3455', 'F3458', 'F3461', 'F3464', 'F3467', 'F3470', 'F3473', 'F3476', 'F3479', 'F3482', 'F3485', 'F3488', 'F3491', 'F3494', 'F3499', 'F3504', 'F3509', 'F3514', 'F3519', 'F3524', 'F3529', 'F3534', 'F3539', 'F3544', 'F3549', 'F3554', 'F3559', 'F3564', 'F3569', 'F3574', 'F3579', 'F3584', 'F3589', 'F3594', 'F3599', 'F3604', 'F3609', 'F3614', 'F3619', 'F3624', 'F3629', 'F3634', 'F3639', 'F3644', 'F3649', 'F3654', 'F3659', 'F3664', 'F3669', 'F3674', 'F3679', 'F3684', 'F3689', 'F3694', 'F3699', 'F3704', 'F3709', 'F3714', 'F3719', 'F3724', 'F3729', 'F3734', 'F3739', 'F3744', 'F3749', 'F3754', 'F3759', 'F3764', 'F3769', 'F3774', 'F3779', 'F3784', 'F3789', 'F3794', 'F3799', 'F3804', 'F3809', 'F3814', 'F3819', 'F3824', 'F3829', 'F3855', 'F3857', 'F3859', 'F3861', 'F3863', 'F3865', 'F3867', 'F3869', 'F3871', 'F3873', 'F3876', 'F3878', 'F3880', 'F3882', 'F3918', 'F3920', 'F3922', 'F3924', 'F3926', 'F3930', 'F3934', 'F3938', 'F3944', 'F3946', 'F3948', 'F3950']

### 'Id'별 거쳐간 스테이션 확인

In [24]:
total_stations = []

for line in line_station_feature_dict.keys():
    total_stations += line_station_feature_dict[line]['station']

print(total_stations)

['S0', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21', 'S22', 'S23', 'S24', 'S25', 'S26', 'S27', 'S28', 'S29', 'S30', 'S31', 'S32', 'S33', 'S34', 'S35', 'S36', 'S37', 'S38', 'S39', 'S40', 'S41', 'S43', 'S44', 'S45', 'S47', 'S48', 'S49', 'S50', 'S51']

In [29]:
np.isin([1, 2, 3], [1, 2])

array([ True,  True, False])

In [26]:
station_x = []

for idx, row in X.iterrows():
    if sum(row.notnull()) == 0:
        station_x.append(np.zeros(len(total_stations))) # 공정을 거치지 않은 데이터도 포함시켜야 한다.
    
    else:
        not_null_columns = X.columns[row.notnull()]
        stations = pd.Series(not_null_columns).str.split('_', expand=True).iloc[:, 1].drop_duplicates().to_list() # 결측치가 아닌 컬럼 리스트
        station_x.append(np.isin(total_stations, stations)) # 모든 station별로 True/False

station_x = pd.DataFrame(station_x, index=X.index, columns=total_stations)
station_x = station_x.astype(int) # True = 1, False = 0 변환

station_x

,S0,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S40,S41,S43,S44,S45,S47,S48,S49,S50,S51
Id,,,,,,,,,,,,,,,,,,,,,
4,1,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,1,1,0,0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,1,0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
11,1,1,0,1,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19915,1,1,0,1,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
19917,1,1,1,0,0,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
19921,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19923,1,1,0,1,1,0,1,0,1,0,...,1,1,0,1,1,1,1,1,0,1

### 측정된 값의 통계량 추출

이상치 전처리 함수

In [32]:
def remove_outliers(val, w=1.5):
    Q1 = np.quantile(val, 0.25)
    Q3 = np.quantile(val, 0.75)
    IQR = Q3 - Q1

    low_cond = Q1 - w * IQR < val
    high_cond = Q3 + w * IQR > val
    total_cond = np.logical_and(low_cond, high_cond)

    return val[total_cond]

- Id별 통계량 추출 함수 : 평균, 분산, 최대값, 최소값, 첨도,

In [33]:
def extract_statistical_feature(val): # val : Id별
    if val.notnull().sum() == 0:
        return pd.Series([0] * 6)
    else:
        val = val.copy().dropna() # 결측치 저리
        val = remove_outliers(val) # 이상치 처리

        val_mean = val.mean() # 평균
        val_var = val.var() # 분산
        val_max = val.max() # 최대값
        val_min = val.min() # 최소값
        val_kurtosis = stats.kurtosis(val) # 첨도
        val_rms = np.sqrt(sum(val**2 / len(val))) # 제곱평균제곱근 : Id별 특징이나 경향을 나타내는 대표값 중 하나
    
    return pd.Series([val_mean, val_var, val_max, val_min, val_kurtosis, val_rms])

In [34]:
state_feature_x = X.apply(extract_statistical_feature, axis=1) # axis = 0:index 방향, 1:column 방향
state_feature_x.rename({0:'mean', 1:'variance', 2:'max', 3:'min', 4:'kurtosis', 5:'RMS'}, axis=1, inplace=True) # axis = 0:index, 1:column

In [35]:
state_feature_x

           mean  variance    max    min  kurtosis       RMS
Id
4     -0.013346  0.003363  0.118 -0.164  0.415134  0.059297
6     -0.002573  0.001208  0.096 -0.088  0.632356  0.034741
7      0.001774  0.000579  0.064 -0.060  1.093244  0.024048
9     -0.000248  0.000928  0.079 -0.084  0.837443  0.030357
11    -0.014000  0.003128  0.118 -0.157  0.315412  0.057489
...         ...       ...    ...    ...       ...       ...
19912  0.016471  0.002860  0.144 -0.115  0.126258  0.055807
19915  0.002671  0.002858  0.134 -0.140  0.808986  0.053348
19917 -0.002669  0.001658  0.108 -0.105  1.050556  0.040675
19921 -0.009329  0.001724  0.097 -0.125  0.626172  0.042433
19923 -0.004077  0.000593  0.068 -0.065  1.571667  0.024533

[10000 rows x 6 columns]

- 공정 데이터와 통계량 데이터 통합

In [36]:
numeric_x = pd.merge(station_x, state_feature_x, left_index=True, right_index=True)
del X

In [37]:
numeric_x.head()

,S0,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S48,S49,S50,S51,mean,variance,max,min,kurtosis,RMS
Id,,,,,,,,,,,,,,,,,,,,,
4,1,1,1,0,1,0,0,1,1,0,...,0,0,0,0,-0.013346,0.003363,0.118,-0.164,0.415134,0.059297
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,-0.002573,0.001208,0.096,-0.088,0.632356,0.034741
7,1,1,1,0,0,1,1,0,1,0,...,0,0,0,0,0.001774,0.000579,0.064,-0.060,1.093244,0.024048
9,1,1,1,0,1,0,0,1,1,0,...,0,0,0,0,-0.000248,0.000928,0.079,-0.084,0.837443,0.030357
11,1,1,0,1,1,0,0,1,1,0,...,0,0,0,0,-0.014000,0.003128,0.118,-0.157,0.315412,0.057489

## 범주형 데이터

In [7]:
df = categorical.copy()
df.head()

,Id,L0_S1_F25,L0_S1_F27,L0_S1_F29,L0_S1_F31,L0_S2_F33,L0_S2_F35,L0_S2_F37,L0_S2_F39,L0_S2_F41,...,L3_S49_F4225,L3_S49_F4227,L3_S49_F4229,L3_S49_F4230,L3_S49_F4232,L3_S49_F4234,L3_S49_F4235,L3_S49_F4237,L3_S49_F4239,L3_S49_F4240
0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.set_index('Id', inplace=True)

### Id별 결측치가 아닌 값 확인

In [10]:
df.iloc[0].dropna().unique()

array([], dtype=object)

In [12]:
df.iloc[2].dropna().unique()

array(['T1'], dtype=object)

In [14]:
df.iloc[50].dropna().unique()

array(['T1', 'T145'], dtype=object)

In [16]:
codes = []

for idx, row in df.iterrows():
    for code in row.dropna().unique():
        if code not in codes:
            codes.append(code)

print(codes)

['T1', 'T3', 'T145', 'T4', 'T143', 'T16', 'T2', 'T256', 'T65536', 'T5', 'T128', 'T16777557', 'T512', 'T16777232', 'T786432', 'T8', 'T-2147482816', 'T1372', 'T1310', 'T6', 'T7', 'T-2147483648', 'T48576', 'T48', 'T9', 'T-21474819', 'T97', 'T32', 'T32896']

In [17]:
codes

['T1',
 'T3',
 'T145',
 'T4',
 'T143',
 'T16',
 'T2',
 'T256',
 'T65536',
 'T5',
 'T128',
 'T16777557',
 'T512',
 'T16777232',
 'T786432',
 'T8',
 'T-2147482816',
 'T1372',
 'T1310',
 'T6',
 'T7',
 'T-2147483648',
 'T48576',
 'T48',
 'T9',
 'T-21474819',
 'T97',
 'T32',
 'T32896']

### T 코드가 등장한 스테이션 확인